
<div *ngIf=this.movieNotEmpty class="container-fluid" style="padding: 40px">
  <h2 class="text-center" style="color: white">Movies</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div *ngFor="let movie of this.movieArray" class="col-md-2" style="padding-bottom: 20px">
          <div class="card">
              <a routerLink="/movie/{{movie.id}}"><img class="card-img-top rounded" src='{{movie.Poster}}' /></a>
            <div class="card-block">
              <h5 class="card-title" style="text-align: center">
                {{movie.title}}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf=this.actorNotEmpty class="container-fluid" style="padding: 40px">
    <h2 class="text-center" style="color: white">Actors</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div *ngFor="let actor of this.actorArray" class="col-md-2" style="padding-bottom: 20px">
            <div class="card">
                <a routerLink="/actor/{{actor.id}}"><img class="card-img-top rounded" src='{{actor.Profile}}' /></a>
              <div class="card-block">
                <h5 class="card-title" style="text-align: center">
                  {{actor.name}}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>